* {
  font-family: "Bungee Shade", cursive;
}

body {
  background-color: #212730;
}

h1 {
  color: darkseagreen;
  cursor: pointer;
  font-size: 2.2rem;
  width: fit-content;
  margin: 2rem auto;
}

h1:hover {
  color: #df6a0c;
}

#author {
  position: fixed;
  bottom: 0px;
  right: 10px;
  color: #8a8787;
  font-family: "Teko", sans-serif;
  text-decoration: none;
  font-size: 1.3rem;
}

#author:hover {
  color: #df6a0c;
}
