@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Teko", cursive;
  font-size: 16px;
}

body {
  background-color: #001503;
}

h1 {
  color: #7ad599;
}

h1:hover {
  color: #df6a0c;
}
